@mixin h2_txt($fs, $ls) {
  line-height: 1.5;
  font-size: $fs;
  letter-spacing: $ls;
  font-family: "Raleway-Medium", serif;
  font-weight: 700;
  color: var(--main-yellow-text-color);
}

@mixin paddings($tops, $lefts) {
  box-sizing: border-box;
  padding: $tops $lefts;
}
